@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16x;
}

input, textarea {
  font-weight: 500;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 5px;
}

input:focus , textarea:focus{
  border-color: #646cff;
  outline: #646cff;
}

a:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 2px solid teal;
  padding: 5px 10px;
  background-color: teal !important;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  transition: border-color 0.25s;
}

button:hover {
  background-color: transparent !important;
  color: black;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.TaskList::-webkit-scrollbar{
  /* -webkit-scrollbar =  */
  display: none;
  overflow-x: hidden;
}